/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

body{
  background-color: RGB(255, 255, 245);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}